<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="login.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <globalization fileEncoding="utf-8" />
        <authentication mode="Forms">
            <forms cookieless="UseCookies" timeout="60" />
        </authentication>
        <sessionState cookieless="AutoDetect" timeout="60" />
        <customErrors mode="Off" />
    </system.web>
</configuration>
