/*sass variables */
/*sass functions */
/* sass */
a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, p, figure, form {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

.inner {
  width: 90%;
  max-width: 900px;
  margin: auto;
}

.breadcrumb div ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
}

header {
  background: #58b976;
  color: #fff;
  padding: 0.5rem 0;
}

header .inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

header .inner h1 {
  font-size: 1.5rem;
  white-space: nowrap;
}

header .inner form {
  margin-bottom: 0;
}

#main_container {
  padding: 2rem 0;
  background: #eee;
}

#dashboard {
  background: #fff;
  border-radius: 15px;
  padding: 1.5rem;
}

#dashboard h2 {
  color: #5c986e;
}

#dashboard h3 {
  font-size: 1.1rem;
}

#dashboard hr {
  border: none;
  border-bottom: 1px solid #5c986e;
  height: 1px;
}

#dashboard .box {
  padding: 2rem 0;
}

#dashboard .wrap ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

#dashboard .wrap ul li {
  margin: 2rem;
}

#dashboard .wrap ul li figure {
  background: #58b976;
  color: #fff;
  width: 95px;
  height: 95px;
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

#dashboard .wrap ul li figure img {
  max-width: 100%;
  width: auto;
  height: 50px;
}

#dashboard .wrap ul li figure figcaption {
  font-size: 0.8rem;
}

#dashboard .wrap ul li figure:hover {
  background: #d27fa3;
  opacity: 0.9;
  transition: 0.4s;
}

#customer h2 {
  margin-bottom: 1rem;
}

#customer .search_area {
  background: #fff;
  border: 1px solid #aaa;
  box-sizing: border-box;
  padding: 1rem;
}

#customer .search_area h3 {
  font-size: 1.0rem;
  text-align: center;
  transform: translateY(-1.75rem);
  width: max-content;
  background: linear-gradient(transparent 0%, white 49%);
  padding: 0 1rem;
}

#customer .search_area form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

#customer .search_area form ul li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 1rem;
}

#customer .search_area form ul li label {
  width: 120px;
  background: #58b976;
  color: #fff;
  text-align: center;
  border-radius: 5px 0 0 5px;
  padding: 0.25rem;
}

#customer .search_area form ul li input[type="text"] {
  min-width: 120px;
  border: 1px solid #58b976;
  border-radius: 0 5px 5px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  padding-left: 1rem;
}

#customer .search_area form .btn {
  margin-left: 3rem;
  margin-bottom: 1rem;
}

#customer .search_area form .btn button {
  padding: 0.25rem 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#customer .search_area form .btn button::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("../img/loupe_icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#customer .output {
  background: #fff;
  margin: 2rem auto;
  border-radius: 10px;
  padding: 1rem;
}

#customer .output table {
  max-width: 700px;
  border-collapse: collapse;
}

#customer .output table thead {
  width: 100%;
}

#customer .output table thead tr {
  background: #58b976;
}

#customer .output table thead tr th {
  display: inline-block;
  border: 1px solid #aaa;
  color: #fff;
  box-sizing: border-box;
}

#customer .output table thead tr th:nth-child(1) {
  width: 300px;
}

#customer .output table thead tr th:nth-child(2) {
  width: 100px;
}

#customer .output table thead tr th:nth-child(3) {
  width: 200px;
}

#customer .output table thead tr th:nth-child(4) {
  width: 100px;
}

#customer .output table tbody {
  width: 700px;
  overflow-y: auto;
  height: 60vh;
  display: block;
}

#customer .output table tbody tr td {
  border: 1px solid #aaa;
  padding: 0.5rem;
  box-sizing: border-box;
}

#customer .output table tbody tr td:nth-child(1) {
  width: 100px;
}

#customer .output table tbody tr td:nth-child(2) {
  width: 200px;
}

#customer .output table tbody tr td:nth-child(3) {
  width: 100px;
}

#customer .output table tbody tr td:nth-child(4) {
  width: 50px;
}

#customer .output table tbody tr td:nth-child(5) {
  width: 150px;
}

#customer .output table tbody tr td:nth-child(6) {
  width: 100px;
}

#customer .output table tbody tr:hover {
  cursor: pointer;
  background: #f9d0e2;
  opacity: 0.8;
}

#customer .output p span {
  font-size: 1.25rem;
  font-weight: bold;
  color: #5c986e;
}

#customer .btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

#customer .btns button {
  margin: 1.5rem 0 1.5rem 1.5rem;
  font-size: 1rem;
  padding: 0.25rem 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#customer .btns button::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 0.5rem;
}

#customer .btns button.trush::before {
  background-image: url("../img/trush_icon.png");
}

#customer .btns button.puls::before {
  background-image: url("../img/x_icon_b.png");
  transform: rotate(45deg);
}

#customer .btns button.end::before {
  background-image: url("../img/x_icon_r.png");
}

#customer .entry_form form ul li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 1rem;
}

#customer .entry_form form ul li label {
  width: 120px;
  background: #58b976;
  color: #fff;
  text-align: center;
  border-radius: 5px 0 0 5px;
  padding: 0.25rem;
}

#customer .entry_form form ul li input[type="text"] {
  border: 1px solid #58b976;
  border-radius: 0 5px 5px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  padding-left: 1rem;
}

#customer .entry_form form ul li select {
  border: 1px solid #58b976;
  color: #000;
  border-radius: 0 5px 5px 0;
  padding: 0 0.5rem;
  width: 110px;
}

#customer .entry_form form ul li textarea {
  border: 1px solid #58b976;
  border-radius: 0 5px 5px 0;
  padding: 1rem;
  width: 22rem;
  font-size: 18px;
}

#customer .entry_form form .btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#customer .entry_form form .btns button {
  margin: 1.5rem 0 1.5rem 1.5rem;
  font-size: 1rem;
  padding: 0.25rem 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#customer .entry_form form .btns button::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 0.5rem;
}

#customer .entry_form form .btns button.trush::before {
  background-image: url("../img/trush_icon.png");
}

#customer .entry_form form .btns button.puls::before {
  background-image: url("../img/x_icon_b.png");
  transform: rotate(45deg);
}

#customer .entry_form form .btns button.end::before {
  background-image: url("../img/x_icon_r.png");
}

/*# sourceMappingURL=maps/style.css.map */
