/*sass variables */
/*sass functions */
/* sass */
a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, p, figure, form {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

dl, dt, dd {
  margin: 0;
  padding: 0;
}

.inner {
  width: 90%;
  max-width: 980px;
  margin: auto;
}

.breadcrumb div ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
}

header {
  background: #58b976;
  color: #fff;
  padding: 0.5rem 0;
}

header .inner {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

header .inner h1 {
  font-size: 1.5rem;
  white-space: nowrap;
}

header .inner form {
  margin-bottom: 0;
}

#main_container {
  padding: 2rem 0;
  background: #eee;
}

#dashboard {
  background: #fff;
  border-radius: 15px;
  padding: 1.5rem;
}

#dashboard h2 {
  color: #5c986e;
}

#dashboard h3 {
  font-size: 1.1rem;
}

#dashboard hr {
  border: none;
  border-bottom: 1px solid #5c986e;
  height: 1px;
}

#dashboard .box {
  padding: 2rem 0;
}

#dashboard .wrap ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}

#dashboard .wrap ul li {
  margin: 2rem;
}

#dashboard .wrap ul li figure {
  background: #58b976;
  color: #fff;
  width: 95px;
  height: 95px;
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

#dashboard .wrap ul li figure img {
  max-width: 100%;
  width: auto;
  height: 50px;
}

#dashboard .wrap ul li figure figcaption {
  font-size: 0.8rem;
}

#dashboard .wrap ul li figure:hover {
  background: #d27fa3;
  opacity: 0.9;
  transition: 0.4s;
}

#customer h2 {
  margin-bottom: 1rem;
}

#customer .search_area {
  background: #fff;
  border: 1px solid #aaa;
  box-sizing: border-box;
  padding: 1rem;
}

#customer .search_area h3 {
  font-size: 1.0rem;
  text-align: center;
  transform: translateY(-1.75rem);
  width: max-content;
  background: linear-gradient(transparent 0%, white 49%);
  padding: 0 1rem;
}

#customer .search_area form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-end;
}

#customer .search_area form ul li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 1rem;
}

#customer .search_area form ul li label {
  width: 120px;
  background: #58b976;
  color: #fff;
  text-align: center;
  border-radius: 5px 0 0 5px;
  padding: 0.25rem;
}

#customer .search_area form ul li input[type="text"] {
  min-width: 120px;
  border: 1px solid #58b976;
  border-radius: 0 5px 5px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  padding-left: 1rem;
}

#customer .search_area form .btn {
  margin-left: 3rem;
  margin-bottom: 1rem;
}

#customer .search_area form .btn button {
  padding: 0.25rem 1rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#customer .search_area form .btn button::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("../img/loupe_icon.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#customer .output {
  background: #fff;
  margin: 2rem auto;
  border-radius: 10px;
  padding: 1rem;
}

#customer .output table {
  max-width: 700px;
  border-collapse: collapse;
}

#customer .output table thead {
  width: 100%;
}

#customer .output table thead tr {
  background: #58b976;
}

#customer .output table thead tr th {
  display: inline-block;
  border: 1px solid #aaa;
  color: #fff;
  box-sizing: border-box;
}

#customer .output table thead tr th:nth-child(1) {
  width: 300px;
}

#customer .output table thead tr th:nth-child(2) {
  width: 100px;
}

#customer .output table thead tr th:nth-child(3) {
  width: 200px;
}

#customer .output table thead tr th:nth-child(4) {
  width: 100px;
}

#customer .output table tbody {
  width: 700px;
  overflow-y: auto;
  height: 60vh;
  display: block;
}

#customer .output table tbody tr td {
  border: 1px solid #aaa;
  padding: 0.5rem;
  box-sizing: border-box;
}

#customer .output table tbody tr td:nth-child(1) {
  width: 100px;
}

#customer .output table tbody tr td:nth-child(2) {
  width: 200px;
}

#customer .output table tbody tr td:nth-child(3) {
  width: 100px;
}

#customer .output table tbody tr td:nth-child(4) {
  width: 50px;
}

#customer .output table tbody tr td:nth-child(5) {
  width: 150px;
}

#customer .output table tbody tr td:nth-child(6) {
  width: 100px;
}

#customer .output table tbody tr:hover {
  cursor: pointer;
  background: #f9d0e2;
  opacity: 0.8;
}

#customer .output p span {
  font-size: 1.25rem;
  font-weight: bold;
  color: #5c986e;
}

#customer .btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

#customer .btns button {
  margin: 1.5rem 0 1.5rem 1.5rem;
  font-size: 1rem;
  padding: 0.25rem 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#customer .btns button::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 0.5rem;
}

#customer .btns button.trush::before {
  background-image: url("../img/trush_icon.png");
}

#customer .btns button.puls::before {
  background-image: url("../img/x_icon_b.png");
  transform: rotate(45deg);
}

#customer .btns button.end::before {
  background-image: url("../img/x_icon_r.png");
}

#customer .entry_form form ul li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 1rem;
}

#customer .entry_form form ul li label {
  width: 120px;
  background: #58b976;
  color: #fff;
  text-align: center;
  border-radius: 5px 0 0 5px;
  padding: 0.25rem;
}

#customer .entry_form form ul li input[type="text"] {
  border: 1px solid #58b976;
  border-radius: 0 5px 5px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  padding-left: 1rem;
}

#customer .entry_form form ul li select {
  border: 1px solid #58b976;
  color: #000;
  border-radius: 0 5px 5px 0;
  padding: 0 0.5rem;
  width: 110px;
}

#customer .entry_form form ul li textarea {
  border: 1px solid #58b976;
  border-radius: 0 5px 5px 0;
  padding: 1rem;
  width: 22rem;
  font-size: 18px;
}

#customer .entry_form form .btns {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#customer .entry_form form .btns button {
  margin: 1.5rem 0 1.5rem 1.5rem;
  font-size: 1rem;
  padding: 0.25rem 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

#customer .entry_form form .btns button::before {
  content: '';
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 0.5rem;
}

#customer .entry_form form .btns button.trush::before {
  background-image: url("../img/trush_icon.png");
}

#customer .entry_form form .btns button.puls::before {
  background-image: url("../img/x_icon_b.png");
  transform: rotate(45deg);
}

#customer .entry_form form .btns button.end::before {
  background-image: url("../img/x_icon_r.png");
}

.user {
  background: #eee;
}

#usermenu {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
}

#usermenu h2 {
  text-align: center;
  color: #5c986e;
}

#usermenu .output ul {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: max-content;
}

#usermenu .output ul li {
  margin: 1.5rem;
}

#usermenu .output ul li figure {
  background: #58b976;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  border-radius: 10px;
  transition: 0.5s;
}

#usermenu .output ul li figure img {
  height: 40px;
  margin: 0.5rem;
}

#usermenu .output ul li figure figcaption {
  font-size: 1.2rem;
  color: #fff;
}

#usermenu .output ul li figure:hover {
  transition: 0.5s;
  background: #d27fa3;
}

.user #order form {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
}

.user #order form .row {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.user #order form .row > p:first-child {
  margin-right: auto;
  margin-top: 1rem;
}

.user #order form .row > p:last-child {
  font-weight: bold;
  color: #c99;
  font-size: 1.1rem;
}

.user #order form .row .userinfo {
  margin-right: 3rem;
}

.user #order form .row .userinfo ul {
  margin-bottom: 1rem;
}

.user #order form .row .userinfo ul li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.user #order form .row .userinfo ul li label {
  width: 120px;
  background: #58b976;
  color: #fff;
  padding: 0.25rem;
  box-sizing: border-box;
  border-bottom: 1px solid #fff;
  border-radius: 5px 0 0 0;
  text-align: center;
}

.user #order form .row .userinfo ul li select {
  width: 15em;
  border: 1px solid #58b976;
  border-radius: 0 5px 0 0;
}

.user #order form .row .userinfo ul li:last-child label {
  border: none;
  border-radius: 0 0 0 5px;
}

.user #order form .row .userinfo ul li:last-child select {
  border-radius: 0 0 5px 0;
}

.user #order form .row .sort {
  margin-bottom: 2rem;
}

.user #order form .row .sort ul li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.user #order form .row .sort ul li label {
  width: 120px;
  background: #58b976;
  color: #fff;
  box-sizing: border-box;
  padding: 0.25rem;
  border-radius: 5px 0 0 5px;
  text-align: center;
}

.user #order form .row .sort ul li select {
  width: 15em;
  border: 1px solid #58b976;
  border-radius: 0 5px 5px 0;
}

.user #order form .search .input_block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: stretch;
}

.user #order form .search .input_block > p {
  background: #58b976;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 5px 0 0 5px;
  padding: 0.5rem 1.5rem;
}

.user #order form .search .input_block ul {
  border-left: 1px solid #fff;
}

.user #order form .search .input_block ul li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.user #order form .search .input_block ul li label {
  background: #58b976;
  width: 120px;
  color: #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
}

.user #order form .search .input_block ul li:last-child label {
  border-bottom: none;
}

.user #order form .search .btn {
  text-align: right;
  margin: 1rem;
}

.user #order .output {
  margin: 1.5rem auto;
}

.user #order .output ul li {
  background: #f6fff2;
  padding: 1rem 0.5rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.user #order .output ul li .image img {
  width: auto;
  max-width: 160px;
  max-height: 100px;
  border-radius: 8px;
}

.user #order .output ul li .box {
  width: 80%;
}

.user #order .output ul li .box .item_name {
  padding-left: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
  color: #17bdc5;
  display: flex;
  align-items: center;
}

.user #order .output ul li .box .item_name .newitem {
  font-size: 0.9rem;
  color: #fff;
  background: #ef3582;
  border-radius: 5px;
  padding: 0.25rem;
  margin-right: 0.5rem;
}

.user #order .output ul li .flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.user #order .output ul li .flex .left {
  margin-left: 1rem;
  width: 15%;
}

.user #order .output ul li .flex .right {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  justify-content: space-around;
  font-size: 0.9rem;
  width: 85%;
}

.user #order .output ul li .flex .right .upper {
  display: flex;
}

.user #order .output ul li .flex .right .upper .item_code {
  margin-right: 1rem;
}

.user #order .output ul li .flex .right .lower {
  display: flex;
}

.user #order .output ul li .flex .right .lower dl {
  background: #eee;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.user #order .output ul li .flex .right .lower dl dt {
  border: 1px solid #aaa;
  padding: 0.25rem;
}

.user #order .output ul li .flex .right .lower dl dd {
  border: 1px solid #aaa;
  border-left: none;
  border-right: none;
  padding: 0.25rem;
}

.user #order .output ul li .flex .right .lower dl dd:last-child {
  border-right: 1px solid #aaa;
}

.user #order .output ul li .flex .item_price {
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.user #order .output ul li .flex .inputs {
  margin-left: auto;
  padding: 0.25rem;
  display: flex;
}

.user #order .output ul li .flex .inputs input[type="number"] {
  width: 4rem;
  margin-right: 0.75rem;
}

.user #order .output ul li .flex .inputs .culc {
  display: flex;
  flex-flow: row nowrap;
}

.user #order .output ul li:nth-child(2n) {
  background: #fff;
}

.user #order .output ul li:hover {
  background: #fff2f6;
}

.user #order .btn {
  text-align: right;
  margin: 1rem;
}

.user #order .total {
  text-align: right;
  height: 42px;
}

.user #order .total > div {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  height: 42px;
}

.user #order .total > div p {
  padding: 0.5rem;
  font-weight: bold;
}

.user #order .total > div p:first-child {
  border-radius: 5px 0 0 5px;
  background: #58b976;
  color: #fff;
}

.user #order .total > div #total {
  width: 200px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #58b976;
  background: #fff;
  text-align: right;
}

.user #order .total .fixed {
  position: fixed;
  top: 0;
  right: 0;
  transition: 0.5s;
}

/*# sourceMappingURL=maps/style.css.map */
